#counLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;

}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5 em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: bckground-color 0.25s;
}

.buttons:hover {
    background-color: hsl(214, 100%, 56%);

}



#mySubmit {
    font-size: 1em;
}




form {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.235);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}



